@keyframes scaleOut {

	0% {
		opacity: 0.8;
		transform: translate(0, 50) scale(0.8);
	}

	40% {
		opacity: 1;
		transform: translate(0, 0) scale(1.02);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.scaleOut {
	animation-name: scaleOut;
	animation-duration: .6s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.42,0,.58,1);
}

@keyframes fadeUp {

	0% {
		opacity: 0;
		transform: translate(0, 50);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.fadeUp {
	animation-name: fadeUp;
	animation-duration: .8s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.42,0,.58,1);
}

@keyframes fadeUpSmall {

	0% {
		opacity: 0;
		transform: translate(0, 10);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.fadeUpSmall {
	animation-name: fadeUpSmall;
	animation-duration: .6s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.42,0,.58,1);
}


@keyframes scaleInLeft {

	0% {
		transform: translate(0, 20) scale(0.9);
	}

	60% {
		transform: translate(0, 0) scale(1.01);
	}

	100% {
		transform: translate(0, 0) scale(1);
	}
}

.scaleInLeft {
	animation-name: scaleInLeft;
	animation-duration: .8s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.42,0,.58,1);
}

@keyframes bob {

	0% {
		transform: translate(-100, 0);
	}
	20% {
		transform: translate(40, 30);
	}
	40% {
		transform: translate(80, -10);
	}
	60% {
		transform: translate(120, 40);
	}
	80% {
		transform: translate(200, -30);
	}
	100% {
		transform: translate(350, 50);
	}
}

.bob {
	animation-name: bob;
	animation-duration: 8;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.65,.23,.29,.95);
	animation-iteration-count: infinite;
}

@keyframes bob2 {

	0% {
		transform: translate(-100, 0);
	}
	// 20% {
	// 	transform: translate(40, 0);
	// }
	40% {
		transform: translate(60, -10);
	}
	60% {
		transform: translate(80, 40);
	}
	80% {
		transform: translate(60, -30);
	}
	100% {
		transform: translate(-100, 50);
	}
}

.bob2 {
	animation-name: bob2;
	animation-duration: 12;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.65,.23,.29,.95);
	animation-iteration-count: infinite;
}

@keyframes bob3 {

	0% {
		transform: translate(250, 0);
	}
	20% {
		transform: translate(140, 20);
	}
	40% {
		transform: translate(120, 40);
	}
	// 60% {
	// 	transform: translate(180, -40);
	// }
	80% {
		transform: translate(200, -10);
	}
	100% {
		transform: translate(300, 50);
	}
}

.bob3 {
	animation-name: bob3;
	animation-duration: 12;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.65,.23,.29,.95);
	animation-iteration-count: infinite;
}

@keyframes bobr {

	0% {
		transform: rotate(0, 0);
	}
	20% {
		transform: rotate(10);
	}
	40% {
		transform: rotate(-10);
	}
	60% {
		transform: rotate(10);
	}
	80% {
		transform: rotate(-10);
	}
	100% {
		transform: rotate(0);
	}
}

.bobr {
	animation-name: bobr;
	animation-duration: 8;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.65,.23,.29,.95);
	animation-iteration-count: infinite;
}

@keyframes bobr2 {

	0% {
		transform: rotate(0, 0);
	}
	20% {
		transform: rotate(-30);
	}
	60% {
		transform: rotate(0);
	}
	80% {
		transform: rotate(20);
	}
	100% {
		transform: rotate(0);
	}
}

.bobr2 {
	animation-name: bobr2;
	animation-duration: 8;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.65,.23,.29,.95);
	animation-iteration-count: infinite;
}

