@import "../../../app-variables";

.goal {
    padding: 20;
    // background-color: $black-mine-shaft;
}

.goal__bar {
    padding: 20;
}

.goal__progress {
    margin: 20;
}

.goal__add {
    border-radius: 10;
    background: $yellow-anzac;
    padding: 10;
    text-align: center;
    color: $white;
    width: 78;
}

.goal__line {
    width: 40;
    height: 2;
    background-color: $black;
    margin-bottom: 18;
}

.goal__target {
    text-align: right;
    margin-top: 20;
}

.goal__target--text {
    margin-bottom: 10%;
    color: $black;
    opacity: .2;
}

.progressbar {
    width: 40;
    border-radius: 10;
    background-color: $white-hint;
    transform: rotate(180);
    background-color: $white-porcelain;
}

.progressbar-value {
    background-color: $blue-sky;
    border-radius: 10;
    background: linear-gradient(to top, $blue-sky, $white-hint);
}